/*

	Team FM 5.0: Zachary, Yuki, Grace, Aries, Janice
	IAT 343: D101
	Team Website
	CSS file: Main Style

	1.Base 2.Grid 3.Layout 4.Links

*/

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	background-image: url('../img/lightpaperfibers.png');
}

html, body, ul, ol, li, form,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

/* ========== IMAGES ========== */

img {
	width: 100%;
	height: auto;
}

	.contentimages img {
		margin-bottom: 2em;
	}

	table img {
		max-width: 80px
	}

/* ========== FONTS ========== */

h1, h2, h3, h5, h5, h6, p {
	font-size: 12px;
	font-weight: 300;
}

	h1 {
		font-size: 3.5em;
		font-weight: 500;
	}

	h2 {
		font-size: 1.95em;
	}

	h3 {
		font-size: 1.3em;
		padding-top: .2em;
	}

	h4 {
		font-size: 1.35em;
		font-weight: 300;
	}

	p {
		font-size: 1.35em;
		line-height: 1.5em;
	}

/* ========== NAVBAR ========== */

nav {
	padding: .8em 0;
}

	li {
		list-style: none;
	}

	nav ul li {
		float: left;
		font-size: 1.5em;
		font-weight: 300;
		padding: .5em 2em 0 .5em;
		border-left: 1px solid #E3E3E3;
	}

/* ================================================================ 
	BASE END
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */

.container {
	margin: 0em auto;
	padding: 3em;
	max-width: 1000px;
}

/* ========== COLUMNS ========== */

.column1, .column2, .column3 {
	width: 30%;
	float: left;
	text-align: left;
	margin: 0 1.3em;
	overflow: hidden;
}

.row1, .row2, .row3 {
	margin-top: 3em;
	overflow: hidden;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== CONTENT ========== */

.content {
	width: 100%;
	max-width: 1000px;
	text-align: center;
	margin-top: 10em;
	overflow: hidden;
}

	.content p {
		text-align: left;
		padding-bottom: 2em;
	}

/* ========== TABLE ========== */

table {
	border: none;
	text-align: left;
}

	table td {
		padding: 0 3em 3em 0;
	}

/* ========== FLEXSLIDER ========== */

.flexslider {
	width: 100%;
}

/* ========== WRAPPER ========== */

.wrapper {
	overflow: hidden;
	padding-bottom: .5em;
	border-bottom: 1px solid #E3E3E3;
}

	.titlewrapper {
		width: 40%;
		margin-bottom: 2em;
		padding-bottom: .5em;
		text-align: left;
		border-bottom: 1px solid #E3E3E3;
	}

	.processwrapper {
		overflow: hidden;
		margin-top: 5em;
	}

/* ========== HEADER ========== */

.logo {
	float: left;
}

.title {
	float: left;
	margin-top: 1.8em;
	padding-left: 1em;
}

/* ========== FOOTER ========== */

footer {
	width: 100%;
	float: right;
	text-align: right;
	margin-top: 8em;
	padding: 1em 0;
	border-top: 1px solid #E3E3E3;
	color: #9E9E9E;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */

a {
	color: #9E9E9E;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
		color: #000000;
	}

	.onpage {
		color: #000000;
	}

/* ========== OPACITY IMAGES ========== */

a.opacity {
    opacity: 0.5;
}

	a.opacity:hover {
		opacity: 1;
	}

/* ================================================================ 
	LINKS END 
================================================================  */



/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.video {
	position: relative;
	margin-bottom: 2em;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

	.video iframe,
	.video object,
	.video embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}